.business {
  margin-top: 80px;
  @media (min-width: 320px) {
    background-image: url(../img/background-mobile-1x.png);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../img/background-mobile-2x.png);
      background-size: 100% 100%;
    }
  }

  @media (min-width: 768px) {
    background-image: url(../img/background-table-1x.png);
    background-size: 100% 100%;

    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../img/background-table-2x.png);
    }
  }
  @media (min-width: 1200px) {
    background-image: url(../img/background-desk-1x.png);
    background-size: 100% 824px;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../img/background-desk-2x.png);
      display: flex;
    }
  }

  &__overlay {
    background: rgba(47, 48, 58, 0.40);
    width: 100%;
    padding: 118px 0;
    @media screen and (min-width: 1200px) {
      padding: 200px 0;
    }
  }

  &__main--title {
    color: $white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }

  &__button {
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: $blue;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.25s;
    cursor: pointer;
  }

  &__button {
    color: $white;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
  }

  &__button:hover {
    transform: translateY(5px);
  }

  &__button:active {
    transform: translateY(2px);
  }
}

@media screen and (max-width: 425px) {
  .business__main--title {
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .business__main--title {
    font-size: 18px;
    line-height: 35px;
  }
}