.customers__main-title {
  @extend %main-title;
  margin-top: 190px;
}

.customers__list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.customers__item {
  position: relative;
}

.customers__item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customers__item a {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid $light-white;
}

.customers__item a:hover {
  border-color: $blue;
}

.customers__item a:hover path {
  fill: $blue;
}

@media screen and (max-width: 992px) {
  .customers__list {
    flex-wrap: wrap;
    width: 62%;
    margin: 0 auto;
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .customers__list {
    width: 83%;
  }
}

@media screen and (max-width: 576px) {
  .customers__list {
    flex-wrap: nowrap;
    flex-direction: column;
    width: auto;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .customers__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (max-width: 375px) {
  .customers__list {
    width: 94%;
    gap: 30px;
  }

  .customers__item a {
    width: 145px;
  }

  .customers__main-title {
    font-size: 30px;
  }

}

@media screen and (max-width: 320px) {
  .customers__list {
    width: 94%;
    gap: 30px;
  }

  .customers__item a {
    width: 120px;
  }

  .customers__main-title {
    font-size: 30px;
  }
}