.work__main-title {
  @extend %main-title;
  margin-top: 120px;
}

.work__list {
  margin: 0;
  padding: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}


.work__item-title {
  position: absolute;
  left: 0;
  top: 75%;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.80);
}

.work__item-title h5 {
  color: $white;
  text-align: center;
  padding-top: 27px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}


.work__item {
  position: relative;
  transition: 0.25s;
}

.work__item:hover {
  transform: translateX(10px) translateY(10px);
}



