.card {
  margin-top: 80px;
}

.main-button__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 155px;
}

.main-button__item button {
  height: 38px;
  border-radius: 4px;
  background: $dark-white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.10);
  outline: none;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s;

  color: $black-with-grey;
}

.main-button__item button:hover {
  color: $white;
  background-color: $blue;
  transform: translateY(5px);
}

.main-button__item button:active {
  transform: translateY(-3px);
}

.card__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card__item {
  width: 370px;
  height: 404px;
  border: 1px solid #EEE;
  background: #FFF;
  position: relative;
}

.card__item:hover {
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card__item img {
  width: 100%;
  height: 70%;
}

.card__hover {
  position: absolute;
  top: 0;
  left: 100%;

}

.card__item h4 {
  @extend %card__first-title;
  margin: 20px 24px 0 24px;
}

.card__item h5 {
  @extend  %card__second-title;
  margin: 4px 24px 0 24px;
}


@media screen and (max-width: 992px) {
  .card__list {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .card__item {
    width: 354px;
  }
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 425px) {
  .main-button__list {
    flex-wrap: wrap;
    width: 320px;
    justify-content: start;
  }
}

@media screen and (max-width: 320px) {
  .main-button__list {
    flex-wrap: wrap;
    width: 290px;
  }
}